/* Özel stiller */
.green-bar {
  background-color: rgb(47, 99, 177);
  height: 10px;
  width: 100%;
}

/* Kitap kartları için stil */
.row{
  display: flex;
  justify-content: space-between;
}
.container{
  display: flex;
  flex-direction: column;
}

.book-card {
  flex-direction: column;
  justify-content: space-between; 
  text-align: center;
}
.summary{
  width: 350px;
  height: 350px;
}




.navbar-brand {
  font-size: 50px;
  
}
.navbar-brand-container{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 20px;
}
.nav-item {
  justify-content: center;

}
.nav-link {
  font-size: 30px;
  text-decoration: none;
}

.container-fluid{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: start;
  flex-wrap: wrap;
  flex: 1 1 200px;
  gap: 20px;
}
.logo {
  margin-top: 29px;
  width: 100px;
  height: 100px;
}
.navbar-nav{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1 1 200px;
  gap: 20px;
}